<div class=" w-full gap-4 flex justify-evenly border-t-2 border-b-2 border-emerald-500 py-10 
    bg-emerald-900 bg-gradient-to-b from-emerald-950 via-emerald-900 to-emerald-950 ">
    <div class="w-1/6   aspect-square rounded-xl p-4">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" 
            class="fill-emerald-500 stroke-[.5] hover:fill-rose-700  
                hover:scale-110 duration-100 hover:drop-shadow-lg drop-shadow-md" 
            viewBox="0 0 32 32">
                {% include "svg/mom.njk" %}
        </svg>
    </div>

    <div class="w-1/6 aspect-square  rounded-xl ">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" 
            class="fill-emerald-500 stroke-[.5] hover:fill-rose-700  
                hover:scale-110 duration-100 hover:drop-shadow-lg drop-shadow-md" 
            viewBox="-5 0 32 32">
                {% include "svg/nph.njk" %}
        </svg>

    </div>

    <div class="w-1/6 aspect-square rounded-xl p-4">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" 
            class="fill-emerald-500 stroke-[.5] hover:fill-rose-700  
                hover:scale-110 duration-100 hover:drop-shadow-lg drop-shadow-md" 
            viewBox="0 0 32 32">
                {% include "svg/snc.njk" %}
        </svg>
    </div>
</div>

