<nav class="flex pl-12 m-auto w-full h-full py-2  ">
    <a href="{{'/' | url}}">
        <div class="px-4 w-max  uppercase font-mono font-semibold text-emerald-500
            hover:text-rose-600
            tracking-widest first-letter:text-xl  drop-shadow-sm">
          Home
        </div>
    </a>  
    <a href="https://nerban.github.io/Advent2023/#/" target="_blank">
        <div class="px-4 w-max uppercase font-mono font-semibold text-emerald-500
            hover:text-rose-600
            tracking-widest first-letter:text-xl  drop-shadow-sm">
          Advent-Event<span>&#10138;</span>
        </div>
    </a> 
    <a href="https://nerban.github.io/Advent2023/#/0/1" target="_blank">
        <div class="px-4 w-max uppercase font-mono font-semibold text-emerald-500
            hover:text-rose-600
            tracking-widest first-letter:text-xl  drop-shadow-sm">
          Silvester-Event<span>&#10138;</span>
        </div>
    </a> 
<div class="w-full"></div>

    <a 
    href="{{"/feed.xml" |url}}" 
    target="_blank" 
    class="fill-rose-50 
    w-min aspect-square  p-1 
    rounded-bl-2xl mx-3
     hover:bg-rose-500 bg-emerald-500 drop-shadow-md">
        <svg 
          viewBox="0 0 8 8"
          height="32"
          xmlns="http://www.w3.org/2000/svg">
          <circle  cx="2" cy="6" r="1" />
          <path    d="m 1,4 a 3,3 0 0 1 3,3 h 1 a 4,4 0 0 0 -4,-4 z" />
          <path    d="m 1,2 a 5,5 0 0 1 5,5 h 1 a 6,6 0 0 0 -6,-6 z" />
        </svg>
    </a>

</nav>
<div class="card w-11/12 hidden text-rose-50"></div>