<!doctype html>
<header>
  <link rel="stylesheet" href="{{"/style/style.css"|url}}" />
  <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" /> 
</header>
<title>Nerbans MTG Corner</title>
<body class="bg-emerald-950 bg-scroll ">

  {%include "widgets/navigation.njk" %}

  
  {{ content | safe }}


  {# % include "widgets/hero.njk" % #}
  
</body>
