<section data-background-image="../images/mom/art/art{{key}}.png"  data-background-opacity="0.5">

    <div class="w-full bg-gray-900 bg-opacity-75 pb-1">
        <h4>{{pack.commons.head}}</h4>
        <div class="my-5">
            <hr class="mx-5">
			<div class="w-full grid grid-cols-4 mt-5 px-24 gap-4 grid-rows-2">

                {%for card in pack.commons.cards%}
                <div class="grid place-items-center r-stack shiny">
                    <img data-fragment-index="{{loop.index + 1}}" class="fragment fade-out shadow-xl aspect-card opacity-100 rounded-xl" data-src="../images/card_back.jpg">
                    <div 
                    id ="{{key + "-com" + "_" + loop.index}}" 
                    scry="{{card.id}}"  
                    class="fragment fade-down aspect-card" data-fragment-index="{{loop.index + 1}}">
                        
                        <div class="FlipButton 
                        bg-gray-900 cursor-pointer drop-shadow-sm 
                        hover:text-blue-200 text-white text-md rounded-lg 
                        rounded-tr-3xl z-10 font-bold px-3 bg-opacity-50 absolute bottom-4 left-0"
						onclick="toggleImg('{{ key + '-com' + '_' + loop.index }}')" >&#10227;
                        </div>

                         {%if card.new %}
                            <div 
                            class="newBadge drop-shadow-lg  animate-bounce absolute font-serif font-semibold  z-20 
                            text-xs p-1  bg-gray-800/0 text-white  rounded-md -top-1 -left-2
                            ">	
                            <span class="absolute z-10 grayscale animate-ping">&#10024;</span>
                            <span class="absolute z-20 drop-shadow-sm grayscale">&#10024;</span> 
                            
                            </div>
                        {% endif %}
                        
                        <a class="grid place-items-center aspect-card r-stack" target="_blank" href="#">
                            <div class="
                            {% if card.foil%}foil-image  {% endif %} 
                            aspect-card w-full grid place-items-center rounded-xl">
                            <img  class="card-image aspect-card shadow-md w-full opacity-100 rounded-xl" data-src  onerror="populateFoilCard('{{key + '-com' + '_' + loop.index}}')">
                            </div>
                        </a>

                    </div>  
                </div>
                {%endfor%}
               
               

            </div>
        </div>
    </div>

</section>


