<script>
  Reveal.addEventListener( 'fragmentshown', function( event ) { 

      //Artimages
      if(event.fragment.parentNode.id.includes("art")){
        //buildFancyArt(event.fragment.parentNode.id, event.fragment.parentNode.getAttribute("srcy"))
        buildArt(event.fragment.parentNode.id)
        //set3D_Card(event.fragment.parentNode.id, true)
      }else{
       // populateCard(event.fragment.id);
      }
    });

  Reveal.addEventListener( 'fragmenthidden', function( event ) { 
    if(event.fragment.parentNode.id.includes("art")){
      //set3D_Card(event.fragment.parentNode.id, false)
    }
    });


</script>