---
"permalink": "404.html"
"layout": "layouts/base.njk"
---
<div class="w-full aspect-text-box flex flex-col place-content-evenly">
<div class="mx-auto font-bold font-mono text-rose-50 text-center w-1/2">
<div class="text-9xl tracking-widest">Error 404</div>
<hr class="my-6">
<div class="text-7xl ">Page Not Found</div>
</div>
</div>
