<!doctype html>
<header>
  <link rel="stylesheet" href="{{ '/assets/reveal/reveal.css' | url }}" />
  

  <link rel="stylesheet" href="/style/style.css" />
  <link rel="stylesheet" href="/style/magic.css" />
  <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" /> 
</header>
<title>MTG Advent 2023</title>

{%include "scripts/custom.njk"%}

<body>
  <div class="reveal">
    <div class="slides">
      
      {% include "slides/start.njk" %}

      {% for key,pack in packs%}
        {% include "slides/pack.njk"%}
      {% endfor %}
      
    </div>
  </div>
<div class="card hidden w-11/12 py-8 py-2"></div>

  
  <script src="{{ '/assets/reveal/reveal.js' | url }}"></script>
  <script src="{{ '/assets/reveal/plugin/highlight/highlight.js' | url }}"></script>
  <script src="{{ '/assets/reveal/plugin/notes/notes.js' | url }}"></script>
  <script>
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      slideNumber: false,
      plugins: [ RevealNotes, RevealHighlight ]
    });
    
    
  </script>
  {%include "scripts/revealEvents.njk"%}

</body>
