---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Nerbans Pack Openings",
    "subtitle": "New MTG booster Openings every Week",
    "url": "https://nerban.github.io/MTG/",
    "feedUrl": "https://nerban.github.io/MTG/feed.xml",
    "author": {
      "name": "Nerban",
      "email": "RGBlog@posteo.de"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>

<rss version="2.0">

  <channel>
    <title>{{metadata.title}}</title>
    <link>{{metadata.url}}</link>
    <description>I open a Boosterpack every week, keep track of my collection here! Discus the your favorite Cards in the Comments  </description>
    <language>en-en</language>
    <copyright>Nerban</copyright>
    <pubDate>Erstellungsdatum("Tue, 8 Jul 2008 2:43:19")</pubDate>
    <image>
      <url>URL einer einzubindenden Grafik</url>
      <title>Bildtitel</title>
      <link>URL, mit der das Bild verknüpft ist</link>
    </image>
    {%for item in booster%}
    {%if item.published%}
    <item>
      <title>{{item.name}} - {{item.nr}}</title>
      <description>Open the {{item.nr}}. of the {{item.set}} display!</description>
      <link>{{metadata.url}}packs/{{ item.id | slugify }}.html</link>
      <author>{{metadata.author.name}}</author>
      <guid>{{ item.id | slugify }}</guid>
      <pubDate>{{item.date}}</pubDate>
    </item>
    {%endif%}
    {%endfor%}

  </channel>

</rss>