---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Nerbans MTG Corner",
    "subtitle": "New MTG booster Openings every Week",
    "url": "https://nerban.github.io/MTG/",
    "feedUrl": "https://nerban.github.io/MTG//feed.xml",
    "author": {
      "name": "Nerban",
      "email": "me@example.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.boosterpack | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  
  {%for pack in booster %}
  {% if pack.published %}

    <entry>
    <title>{{ pack.name }}</title>
    <link href="{{ metadata.url}}packs/{{pack.id | slugify }}"/>
    <content type="html">Open the {{pack.nr}}. boosterpack of the {{pack.set}} set-display!</content>
  </entry>
  {%endif%}
  {#{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.name }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>#}
  {%- endfor -%}
</feed>