---
layout: "layouts/booster.njk"
---

{%include "widgets/packOpening.njk"%}

  {%include "scripts/revealEvents.njk"%}
      <script src="https://utteranc.es/client.js"
        repo="Nerban/MTG"
        issue-number="pathname"
        label="Comments"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>