---
layout: "layouts/booster.njk"
---

{%include "widgets/packOpening.njk"%}

<div class="w-2/3 mt-10 mx-auto text-center">
<span class="text-center text-2xl block font-mono font-semibold  text-rose-50 mb-10">Let's discuss the cards!</span>
<script src="https://giscus.app/client.js"
        data-repo="Nerban/MTG"
        data-repo-id="R_kgDOLDsUOQ"
        data-category="General"
        data-category-id="DIC_kwDOLDsUOc4CcX9A"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="transparent_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</div>